.button {
  display: inline-block;
  padding: 12px 16px;
  border: 1px solid #ccc;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 12px 0 0;
  color: rgb(51,51,51);
  transition: all 0.5 linear;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  &:hover {
    border-color: purple;
  }

  // Modifiers
  &--cta {
    transition: top .15s ease-in;
    top: 0;
    left: 50%;
    transform: translate(-150px, -48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    background: #ff6f61;
    box-shadow: 0 -2px 16px rgba(0,0,0,0.15);
    border: none;
    position: absolute;
    padding-top: 12px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    z-index: 100;
    &:hover {
      background: darken(#ff6f61, 10%);
      border-color: white;
      color: white;
      top: -5px;
    }
  }
}