.sub-section {
  display: grid;
  grid-template-columns: 36px 1fr;
  margin: 38px 0 40px 0;

  &__content {
    h3 {
      font-family: 'PT Sans', sans-serif;
      margin: 0 0 8px;
      padding: 0;
    }
    p:first-of-type {
      margin-top: 0;
    }
    .button {
      margin-top: 16px;
    }
    ul {
      margin: 20px 0 20px 20px;
    }
    a {
      color: black;
    }
  }
}
