.welcome-pane {
  @media only screen and (min-width: 800px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
  }
  position: relative;
  min-height: 480px;
  background: url('https://res.cloudinary.com/andymai/image/upload/q_auto,f_auto/v1545605744/wedding/welcome-photo.jpg') top center no-repeat;
  background-size: cover;
  z-index: 1000;

  &__content {
    @media only screen and (min-width: 800px) {
      bottom: 40px;
      left: 40px;
    }
    @media (max-width: 480px) {
      left: 0;
      bottom: 18px;
    }
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #fff;
    img {
      @media (max-width: 480px) {
        margin: 0 auto 8px;
      }
      display: block;
      max-width: 80%;
      margin: 0 0 14px;
      padding: 0;
      filter: drop-shadow(0 2px 15px rgba(0,0,0,.66));
    }
    p {
      @media (max-width: 480px) {
        text-align: center;
      }
      color: #c7afab;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-shadow: 2px 2px 15px rgba(0,0,0,.66);
      margin: 0 0 18px;
    }
  }

  .rsvp {
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
  }
}
